.daypicker-wrapper {
  width: 250px;
  position: absolute;
  background-color: rgb(248, 248, 247);
  border-radius: 10px;
}
.daypicker-wrapper .header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  padding: 15px;

  border-radius: 10px 10px 0 0;
  box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -7px 5px 0px rgba(0, 0, 0, 0.75) inset;
}
.daypicker-wrapper .header .icons {
  position: relative;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .icons img {
  cursor: pointer;
  border-radius: 5px;
  padding: 5px;
  width: 12px;
}

.header .icons .leftArrow-month {
  rotate: 180deg;
}

.header .icons .rightArrow-year {
  rotate: 180deg;
}

.header .icons img:hover {
  background-color: rgb(201, 204, 204);
}
.daypicker-wrapper .header .today-date button {
  margin: 0;
  padding: 5px 15px;
  background-color: #fff;
  color: black;
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  box-shadow: 6px 23px 29px -4px rgba(0, 0, 0, 0.47);
  -webkit-box-shadow: 6px 23px 29px -4px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 6px 23px 29px -4px rgba(0, 0, 0, 0.47);
}
.daypicker-wrapper .header .today-date button:hover {
  font-size: 10.5px;
  transition: 0.5s ease-in-out;
}

.calendar {
  padding: 10px 20px;
}
.calendar ul {
  font-size: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul.days {
  margin: 0;
}
.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}
