.daypicker-wrapper {
  width: 500px;
  background-color: rgb(248, 248, 247);
  border-radius: 10px;
}
.daypicker-wrapper .header {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 40px;
  background-color: #1e0af3;
  border-radius: 10px 10px 0 0;
}
.daypicker-wrapper .header .icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.header .icons svg {
  font-size: 30px;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.header .icons svg:hover {
  background-color: rgb(201, 204, 204);
  color: black;
}
.calendar {
  padding: 20px 40px 40px;
}
.calendar ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.calendar ul li {
  position: relative;
  width: calc(100% / 7);
}
