.days li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 40px;
  z-index: 1;
}
.days li:hover {
  font-weight: 700;
}
.days li::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}
.days li.active::before {
  background-color: blue;
}
.days li.active {
  color: #fff;
  font-weight: 700;
}
.days li:hover::before {
  background-color: rgb(201, 204, 204);
}
.days li.inactive {
  color: #aaa;
}
.days li.clicked::before {
  background-color: rgb(201, 114, 209);
}
